body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.splash {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cacaca), to(#fff));
    background: -moz-linear-gradient(top, #cacaca,#fff);
    background: -ms-linear-gradient(rgba(5, 91, 164, 0.08), rgb(255, 255, 255));
    /*padding: 4em 0 2em;
    background-color: #808080;*/
    color: #fff;
    text-align: center;
}

.logo {
    height: 100%;
    max-height: 110px;
    min-height: 60px;
}

.head {
    background-color: #fff;
}

.headwarp {
    background-color: #fff;
    padding: 8px;
}

.more {
    font-size: small;
}

.announ {
    border-bottom-color: #dae8ff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

    .announ div.col-md-4:hover .dateblock {
        background-color: #bbd5ff;
    }

    .announ .dateblock {
        width: 60px;
        height: 60px;
        background-color: #dae8ff;
        margin-top: 10px;
        padding-top: 8px;
        color: rgb(5,91,164);
    }

.dateblock h4 {
    padding-top: 3px;
    margin-bottom: 1px;
    margin-top: 0;
}

.announ .tn {
    margin-left: 80px;
}

.news {
    margin-top: 10px;
}

    .news ul {
        list-style-type: none;
    }

    .news .tn {
        border-top-color: rgb(5,91,164);
        border-top-width: 2px;
        border-top-style: solid;
        /*margin-left:10px;*/
    }

        .news .tn:hover {
            border-top-color: #ff6a00;
        }

a {
    color: black;
}

#foot {
    background-color: rgb(5,91,164);
    padding: 15px 0;
    color: white;
}

.banner {
    background-color: #e0e0e0;
    padding: 20px 0;
}

#mynav {
    background-color: rgb(5,91,164);
}

    #mynav a {
        color: #eee;
    }
.nav > li .dropdown-menu {
	margin: 0;
}
.nav > li:hover .dropdown-menu {
	display: block;
}

.text-box{
    width:90%;
    min-width:200px;
}