<div class="row">
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="dropdown @if (ViewBag.Controller == "News")
                            {<text>active</text>}">
            <a href="@Url.Action("Index", "News")">社联新闻 <span class="caret" /></a>
            <ul class="dropdown-menu">
                @*@foreach (test2.Models.ContentType t in (List<test2.Models.ContentType>)ViewBag.ContentTypes)
                {
                    <li>@Html.ActionLink(t.Name,"Index","News",new {id=t.Id},null)</li>
                }*@
            </ul>

        </li>
        <li><a href="#">重要公告</a></li>
        <li><a href="#">社联概况</a></li>
        <li><a href="#">社团大全</a></li>
        <li><a href="#">精彩照片</a></li>
    </ul>
</div>