@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    成都市高新西区电子科技大学清水河校区<br />
    学生活动中心, 206<br />
    <abbr title="Phone">P:</abbr>
    XXXXXXXX
</address>

<address>
    <strong>维护:</strong>   <a href="mailto:tcz717@hotmail.com">tcz717@hotmail.com</a><br />
</address>